[2014-07-15 19:07] aj07mm opened #1 "clearOutputDirectory() removes all files from the root folder of the project"
Man, i lost all files in my project root folder trying to use your app because my path was the root folder, there shouldn't be a function that deletes all files without a warning or something.

[2014-07-18 13:34] #1 closed, assigned to nobody

[2015-07-15 02:33] sunnypatial opened #2 "Not working with wamp"
Hi Sir,

I am using wampserver.
I am going to convert PDF to HTML. i am using your script but its not working.
My PHP version is 5.5.12
I am using following extensions for this.
extension=libfreetype-6.dll
extension=libgcc_s_sjlj-1.dll
extension=libjpeg-8.dll
extension=liblcms2-2.dll
extension=liblzma-5.dll
extension=libopenjpeg-1.dll
extension=libpng15-15.dll
extension=libpoppler-28.dll
extension

[2015-07-16 11:52] mgufrone commented on #2
Unfortunately, this package is only available in *nix OS. I believe WAMP is in Windows, so sorry. Till right now, this package can fulfill what you need. I only test this package in Ubuntu.

[2015-07-19 13:58] sunnypatial commented on #2
Hi Sir,

Thanks, for your response.
I used Linux system and now its working fine.
I have got HTML code in the following format.

[bold tag]  Scott  [/close bold tag][break tag /]
[bold tag]  Scott & Borcher  [/close bold tag][break tag /]
[bold tag]  The Le Companies  [/close bold tag][break tag /]
[bold tag]  Pittsburg  [/close bold tag][break tag /]

I have a query here: Can i get "top" and "lef

[2015-07-19 15:33] sunnypatial commented on #2
Hi Sir,

Please suggest me on the above issue. I can pay you for this.
Please reply me asap.

Thanks.

[2015-07-21 10:59] mgufrone commented on #2
can you send me your pdf you are trying to convert to?
btw i didn't get it by what you mean : "Can i get "top" and "left" margin as well in the bold tag."

Mind to make it more clear?

[2015-07-22 16:30] sunnypatial commented on #2
Hi Sir,

Thanks for your response.

Please have a look following PDF file
http://1stbadges.com/pdfs/Badges995.pdf

I want to convert this PDF to HTML

Here you can see 3 rows(Louis, Louis Banda, PittsBurg) in the First page of the PDF.
and 4 rows(Harrison, Harrison Barnes, The Warriers, San Francisco) in the Second page of the PDF.

I want to know the top and left margin of all the 3 and 4 rows.

[2015-08-06 21:47] zealfire commented on #2
@mgufrone do u plan to port this to windows? I urgently need a tool like this so in case u know any similar tool which may work for windows please tell me, it would be helpful. Thanks

[2015-08-07 11:57] zealfire commented on #2
@sunnypatial do u know any library or tool which converts PDF to HTML using php? Please share if u know. Thanks.

[2015-08-07 11:59] mgufrone commented on #2
I'm still looking for poppler-utils for windows. If i can, i will make this package support on windows

[2015-08-10 01:05] mgufrone commented on #2
Hai @zealfire, I've updated readme files for windows user like you. Please check it out at https://github.com/mgufrone/pdf-to-html. I've already test it in my local and it works like a charm

[2015-08-10 01:05] #2 closed

[2015-08-10 09:54] kaleidoscopique opened #3 "(Tuto) How to run this library on OS/X ?"
Hi Mochamad,

Thanks a lot for this awesome library !

I was writing a big ticket where I asked "HELPP, can you help me to run your lib on OS/X please ?" but by writing my issue, I've found the solution ! Then I thought it will be a good idea to share the tips.

**1. Install brew**
Brew is a famous package manager on OS/X : http://brew.sh/ (aptitude style).

**2. Install poppler**
[code]

**3. Ver

[2015-08-10 09:59] mgufrone commented on #3
Ah, that's gread help. Thanks, allow me to include your guide in my README file. :+1:

[2015-08-10 10:00] kaleidoscopique commented on #3
Of course ! :-) See you soon, have a nice day.
@+ Stéphane

[2015-08-10 13:22] #3 closed

[2015-09-14 13:03] tonchik-tm opened #4 "Require public method getPage"
I need public method \Gufy\PdfToHtml\Html::getPage for parse html. \PHPHtmlParser\Dom::parse crashed my html on some tages (br, b) on some linux servers. I can't find reason.

Example:
[code]

[2015-10-04 16:37] ThomasRalee opened #5 "How do i use this?"
Hi i am trying to figure out how to use this with laravel 5.
This is what i tried to set the bin location... Still not quite sure with the difference between this two. I tried to point the config location to the location my pdf file is residing.

[code]

It's still returning null for this:
[code]

Can someone share with me what went wrong?

Cheers,
Ralee

[2015-10-05 11:43] mgufrone commented on #5
These codes :
[code]

are supposed to determine where you locate pdftohtml binary file. so you should appoint it to the binary file, not the directory.

To find it out, you should use
[code]

then use each of locations and insert to the code above. You got what i mean? :+1:

[2015-10-05 18:11] ThomasRalee commented on #5
@mgufrone,
thanks for the reply. I have updated installed and updated my codes according to

[code]
Like this
[code]
but when i dd($pdf); it returns null

Can you guide me on the right way of calling the pdf file?
Appreciate your help

Cheers
Ralee

[2015-10-05 22:36] mgufrone commented on #5
I believe you accidentally flip this code

[code]

It suppose to be like this
[code]

Try it again, if it still gives you error, i will check it again.

[2015-10-06 02:02] ThomasRalee commented on #5
Hey @mgufrone,

Nope flipping it doesnt work. Thanks for helping me.
Same error
[code]

Cheers,
Ralee

[2015-10-07 03:28] ThomasRalee commented on #5
Hey @mgufrone,

Any news?

Cheers
Ralee

[2015-10-08 12:02] mgufrone commented on #5
will give you notice again on a weekend. i hope it will be good news for you.

[2015-10-08 16:32] ThomasRalee commented on #5
@mgufrone,

I managed to have it worked. I installed poppler utils on my local instead of my virtual machine... Great its working now! Do you know how i can retrieve the html content?

<img width="1440" alt="screen shot 2015-10-09 at 12 41 17 am" src="https://cloud.githubusercontent.com/assets/10151054/10372963/2e22fd58-6e1d-11e5-9283-42d5dac62257.png">

Great library btw. I am gonna star it now.

[2015-10-09 03:32] mgufrone commented on #5
Glad you made it @ThomasRalee :+1:
Thank you for using this library.

[2015-10-09 03:32] #5 closed

[2015-10-10 07:42] ThomasRalee opened #6 "Formatting issue"
Hi @mgufrone,

I've been using this library but none of my converted files are well formatted. I used your example test.pdf. Some of its content are misaligned. Do you have any idea where i can go to tweak the formats of the output?

Also is it me or table and images are not supported in this library?

Thanks for your time
Cheers
Ralee

[2015-10-24 11:57] mgufrone commented on #6
Do you have pdf sample i can work on it?

[2015-10-24 12:00] mgufrone commented on #4
l believe i've added this method in this package's class.

[code]

[2015-10-26 07:28] tonchik-tm commented on #4
method goToPage() return DOM, but i need HTML text :(

[2015-10-26 18:10] ThomasRalee commented on #6
yup i do.
can i email it to you?
I dont have your email address though

[2015-10-27 23:56] mgufrone commented on #6
mail me here : mgufronefendi@gmail.com

[2015-12-22 08:48] innoabhi opened #7 "Help me out"
i uses linux mint OS, can i get video of it... it vl b very helpful to understand by watching video.

[2016-01-08 08:13] kartikkapatel opened #8 "Need to extract only html without dom object."
First of all thank You for such wonderful library.
it was very help full to me and i also just need the only html from  $html = $pdf->html(); object.

[2016-01-08 08:18] mgufrone commented on #8
Do you mean it should return html string, not dom object?

[2016-01-08 08:31] kartikkapatel commented on #8
yes have any function that help to get ust return directly string?? if have any wiki of the library then please share with us. thank you

[2016-01-08 09:06] sarathiscookie opened #9 "is this support ubuntu"
Is this support ubuntu server?

[2016-01-08 09:47] mgufrone commented on #9
yes it is support ubuntu server. :)

[2016-01-08 10:04] sarathiscookie opened #10 "Fatal error: Uncaught exception"
I have added code but getting some error.

<?php
// if you are using composer, just use this
include 'vendor/autoload.php';
use Gufy\PdfToHtml\Config;
// change pdftohtml bin location
Config::set('pdftohtml.bin', 'poppler-0.37/bin/pdftohtml.exe');

// change pdfinfo bin location
Config::set('pdfinfo.bin', 'poppler-0.37/bin/pdfinfo.exe');
// initiate
$pdf = new Gufy\PdfToHtml\Pdf('file.pdf');

// c

[2016-01-08 10:33] mgufrone commented on #10
[code]

Assuming you have installed the poppler-utils. The code above, please use the absolute path instead of relative path.

[2016-01-08 10:45] sarathiscookie commented on #9
thanks

[2016-01-08 10:48] sarathiscookie commented on #10
Thanks it's a path problem. I have set full path and currently no error is showing. But the page is blank.

// change pdftohtml bin location
Config::set('pdftohtml.bin', 'C:/xampp/htdocs/pdf-to-html-master/poppler-0.37/bin/pdftohtml.exe');

// change pdfinfo bin location
Config::set('pdfinfo.bin', 'C:/xampp/htdocs/pdf-to-html-master/poppler-0.37/bin/pdfinfo.exe');
// initiate

[2016-01-12 02:36] #9 closed

[2016-01-25 04:36] AbdelrahmanWahdan opened #11 "linking to html files is wrong"
frame name="links" src="output/file/file_ind.html"
frame name="contents" src="output/file/file-1.html"

<Strong>Should be:</Strong>

frame name="links" src="file_ind.html"
frame name="contents" src="file-1.html"

-----------------------------------------------------------------------

img width="892" height="1262" src="output/file/file001.png" alt="background image"

<Strong>Should be:</Strong>

i

[2016-02-13 05:00] mgufrone commented on #10
Hai, can you give me your pdf you're using? i would like to test it on my device, too.

[2016-02-17 10:10] Nyeinchanaung commented on #11
I have the same issue to AbdelrahmanWahdan. I believed, this is correct for the run time html() function, not to run the converted HTML file separately.
But I want to use run (convert) it only one time and so, **is there any way to configure the image path as I want**?

[2016-02-18 00:22] mgufrone commented on #11
@AbdelrahmanWahdan could you email me the pdf you're converting? I would like to test it in my device and also to check that this package is still working properly. For the moment, this package can't do separate its images to another directory. But i will consider it. :+1:

[2016-02-21 07:30] Nyeinchanaung commented on #11
@mgufrone thank you for your reply. I'd noted that's the issue of **poppler**.
Actually, I want the image's path in _**generated HTML**_ page is refer to **_generated images_**., like `img src="file001.png"` instead of `img src="output/file/file001.png"` .
According to the package, I found the code to run command as
`D:/poppler-0.40.0/bin/pdftohtml.exe -c -fmt png  -zoom 1.5  file.pdf \output/56c9

[2016-02-22 07:31] mgufrone commented on #11
okay i will change the relative path to absolute one. I guess i'm gonna working on landscape pdf too. Thanks for the info

[2016-04-26 14:12] fengkaijia commented on #8
So, is there any way to return the HTML string? My main project use DomCrawler from Symfony so it would be nice if I can just get and pass the html string to my current parser.

[2016-04-27 02:42] mgufrone commented on #8
Sorry for late response. I am unable to continue this project for my own work. I will continue to improve this package as soon as possible. thanks for the suggestion. 👍

[2016-04-27 03:20] mgufrone commented on #8
$pdf->html() will now return as html string.
if you want to get the dom object, just use $pdf->getDom();

please test it on your own. I already tested it, but I would like you guys to test this too.

[2016-05-07 03:17] fengkaijia commented on #8
@mgufrone Tested and it's working now without any issue :clap:, although the html() method still calls the getDom() to extract HTML which might cost some performance when dealing with a large PDF.

[2016-05-07 04:39] mgufrone commented on #8
great. I'm still working on it so it will directly return as html.

[2016-05-07 04:39] #8 closed

[2016-05-28 09:27] KenFlip commented on #10
Hi @mgufrone ,

I am using a mac with a local version of my site on mamp, I am using the code below to run a test on a 5 page pdf:

<?php
	// if you are using composer, just use this
	include 'vendor/autoload.php';

	// change pdftohtml bin location
	\Gufy\PdfToHtml\Config::set('pdftohtml.bin', '/usr/local/bin/pdftohtml');

	// change pdfinfo bin location
	\Gufy\PdfToHtml\Config::set('pdfinfo.bin'

[2016-05-28 09:44] KenFlip commented on #10
@sarathiscookie Please if you could help me?

[2016-05-28 09:49] mgufrone commented on #10
@KenFlip have you installed poppler-utils? if you haven't, please use this command below
[code]

[2016-05-28 09:51] #4 closed

[2016-05-28 09:51] #6 closed

[2016-05-28 09:51] #7 closed

[2016-05-28 09:51] #11 closed

[2016-05-28 09:57] KenFlip commented on #10
Hi,
I ran that command and it installed a lot of things what folder was i supposed to run the command in?
Kindest Regards
Kenton
On 28 May 2016 11:49 AM, Mochamad Gufron <notifications@github.com> wrote:@KenFlip have you installed poppler-utils? if you haven't, please use this command below

brew install poppler-utils

—You are receiving this because you were mentioned.Reply to this email directly

[2016-05-28 09:59] KenFlip commented on #10
So I ran it again just incase in my localhost root directory and in my actual site root directory and both times i got this:

Warning: poppler-0.43.0 already installed

[2016-05-28 10:00] mgufrone commented on #10
It doesn't matter where you run the command in. It will install on the global directory. Okay, next is check if you have properly installed the required package.

[code]

if it is the same location as your code, the code you wrote up there will run fine

[2016-05-29 10:19] KenFlip commented on #10
Ran those two:

which pdfinfo gives me: /usr/local/bin/pdfinfo
which pdftohtml gives me: /usr/local/bin/pdftohtml

My code is:

	// change pdftohtml bin location
	\Gufy\PdfToHtml\Config::set('pdftohtml.bin', '/usr/local/bin/pdftohtml');

	// change pdfinfo bin location
	\Gufy\PdfToHtml\Config::set('pdfinfo.bin', '/usr/local/bin/pdfinfo');

[2016-05-29 10:55] mgufrone commented on #10
So, how was it? still not working or else?

[2016-05-29 10:58] KenFlip commented on #10
Still not working at all...

Giving me that same error

[2016-05-29 11:02] KenFlip commented on #10
I can send you the pdf if you would like... my end goal out of this, is the user must be able to download a pdf form. fill it out upload it to the site and get a results page containing some of the information from the uploaded pdf...

If that makes sense.

When they fill it out, the pdf will have input fields and stuff like that, so not writing or anything

[2016-05-29 11:04] mgufrone commented on #10
Okay, send me the pdf to my email. I will check it out. :3

[2016-05-29 11:24] KenFlip commented on #10
so if I have a plain text pdf will that work?

[2016-05-29 11:25] mgufrone commented on #10
Yap, static pdf will work.

[2016-05-29 11:29] KenFlip commented on #10
Could you possibly email me a plain text pdf that works on your system, I just want to see if I can get this work on my side. I can try convert the pdf form to a plain text pdf and then run t through

[2016-05-29 11:31] mgufrone commented on #10
Hang on a sec, do you run your code through browser? or just from command line?

[2016-05-29 11:32] KenFlip commented on #10
through a browser

[2016-05-29 11:33] KenFlip commented on #10
That pdf you sent me doesnt work...

[2016-05-29 11:34] mgufrone commented on #10
Oh. PHP, by default, disable shell_exec command, that is needed by the package. You should enable shell_exec function to run the package command.

[2016-05-29 11:35] KenFlip commented on #10
Have no idea how to do that or even where to do that...

[2016-06-09 14:47] alexTitakov opened #12 "Привет привет"
буду пробовать твою штуку....;)

[2016-06-09 14:51] #12 closed

[2016-06-13 19:53] altsel opened #13 "goToPage() throws error"
First of all thanks for your great work.
I will receive the following error when I try to change the page number.
If I don't use goToPage() method, page 1 will be rendered correctly.

This is my test php file:

any idea what I am doing wrong ?

thanks

[2016-07-14 23:43] BOB41K1987 opened #14 "Doesn't work at Windows"
After the installation with composer it gives an error
Fatal error: Class 'Gufy\PdfToHtml\Config' not found in C:\OpenServer\domains\phppdf.local\index.php on line 6

[2016-07-20 14:12] apermo commented on #13
I had the same issue before installing poppler on my mac. Probably you have the same issue.

[2016-08-10 13:39] pauliusjacionis commented on #13
"goToPage" method belongs to Dom Object.

Example:
[code]

Or:
[code]

But you don't need to do that if you just want the HTML - "html" method accepts page number as a parameter:

`$html = $pdf->html(3);`

[2016-08-19 07:00] afzydev commented on #5
Hi @mgufrone

Thanks for the great script .

I am getting the same error as above.I have installed sudo apt-get install poppler-utils on local machine.But still getting the same error can you please tell me what else i have to do to convert from PDF to HTML?

Here is code

        \Gufy\PdfToHtml\Config::set('pdftohtml.bin', '/usr/local/bin/pdfinfo');
        \Gufy\PdfToHtml\Config::set('pdfinfo.b

[2016-08-28 17:31] skilip commented on #13
Could it be that your source PDF file contains spaces?

[2016-08-28 17:35] skilip opened #16 "Spaces in PDF file names"
If a PDF filename contains spaces `pdfinfo` will not work. This can be easily fixed by applying the following patch:

[code]

[2016-08-28 17:46] skilip commented on #16
The same applies for Base.php:

[code]

[2016-08-28 20:36] mgufrone commented on #16
Hmmm, It looks good, how about you make a pull request to this repo? It would be nice.

[2016-08-31 07:15] mgufrone commented on #16
I've pushed a new tag `v2.0.7`.

[2016-08-31 07:15] #16 closed

[2016-08-31 07:16] mgufrone commented on #14
How do you get this package btw? You use composer instead of download it directly via github, right?

[2016-08-31 07:16] mgufrone commented on #13
Please test the new tag one. `v2.0.7`

[2016-09-02 09:47] skilip commented on #16
Thanks!

[2016-09-02 12:49] gbinow opened #17 "Problem running on CentOS 6"
First of all, congratulations on your very good work!
My development environment consists of OSXs and Windows machines, and everything works pretty fine. I recently deployed my application to my homologation server (which is currently running CentOS 6) and noticed that the Base.php performs the following system call:

/usr/local/bin/pdftohtml -c -fmt png -zoom 1.5 'path_to_file/file.pdf' 'path_to_

[2016-09-02 12:52] mgufrone commented on #17
how about you install the `poppler-utils` using yum?

[2016-09-02 12:53] #14 closed

[2016-09-02 12:53] #13 closed

[2016-09-02 13:18] gbinow commented on #17
Tried that but no success :/ The command
/usr/local/bin/pdftohtml -c -fmt png -zoom 1.5 'path_to_file/file.pdf' 'path_to_file/file.html'

still fails

[2016-09-02 13:22] gbinow commented on #17
Oh!! I'm very sorry!! I forgot to erase the my /usr/local/bin folder with the previous binaries.
Now it works perfectly fine!

Thank you very very much!
You're the best! :)

[2016-09-02 13:22] #17 closed

[2016-09-02 13:55] rossip89 opened #18 "not work in server"
Hello @mgufrone , I have a problem uploading my project to the server.
I comment to you.
It worked perfectly on my local Windows machine using this code:

`<?php`
`include` `'vendor/autoload.php';`
`use` `Gufy\PdfToHtml\Config;`
`Config::set('pdftohtml.bin', __DIR__.'/Poppler/bin/pdftohtml.exe');`
`Config::set('pdfinfo.bin', __DIR__.'/Poppler/bin/pdfinfo.exe');`
`$p = 'sample.pdf';`
`$pdf = new Gu

[2016-09-02 15:09] mgufrone commented on #18
You can't install this package unless you have full access to your server. If you are in shared hosting and your provider is a good partner to you, try to ask them to install the package of `poppler-utils` on th server.

To determine where is the exact location of `pdfinfo` and `pdfhtml` on linux-based server, you can  do this
[code]

You will get the location of each binaries if you have already

[2016-09-02 15:10] mgufrone commented on #17
glad to be a help. 👍

[2016-09-02 17:13] rossip89 commented on #18
thanks for answering, there will be a way to install it myself, the server provider almost not answer me and I need urgent

[2016-09-02 20:54] rossip89 commented on #18
I tell you that I found the method to execute, simply use the following line

`shell_exec("/usr/bin/pdftohtml mypdf.pdf $output_folder/mypdf 2>&1")`

I did not have to upload any file, only with that line it worked perfect, thanks for your help.

[2016-09-02 21:00] #18 closed

[2016-09-09 20:23] JfrankMainframere opened #19 "Using with Yii on localhost"
This is an example of some very basic code. I did combine some class files and make some minor adjustments to get it functioning on the Yii framework.
`

             Yii::import('application.extensions.pdf2html.*');

             // change pdftohtml bin location
            Config::set('pdftohtml.bin', '/usr/local/bin/pdftohtml');

            // change pdfinfo bin location
           Config::set

[2016-09-09 23:10] mgufrone commented on #19
Hmmm, btw what is the webserver you're using? Apache?

[2016-09-09 23:38] JfrankMainframere commented on #19
Yessir Apache/2.4.10 (Unix) OpenSSL/1.0.1j PHP/5.5.19 mod_perl/2.0.8-dev Perl/v5.16.3

[2016-09-10 18:58] JfrankMainframere commented on #19
OMG I got it working! What a great great library. Thank you so much!

[2016-09-10 18:58] #19 closed

[2016-09-10 19:35] JfrankMainframere opened #20 "Formatting & Rendering issue"
I can't believe how amazing this library is! I am just having some rendering issues mainly checkbox form fields and the length of the underscores. Is there any way to change the rendering so that it will show an HTML checkbox rather than nothing? How can I go about customizing the replacement of PDF elements (Text areas, Text input, radio buttons)?

[2016-09-10 21:27] mgufrone commented on #20
This one is particularly difficult within this package. The `pdftohtml` binary unfortunately can't render form controls such as text areas, text inputs, radio buttons, etc. I will keep in mind of your suggestion.

[2016-09-10 21:29] JfrankMainframere commented on #20
Well it renders "■" when the checkbox is checked, but nothing when it is blank. Is there anyway to at least make it render something for an empty checkbox as well?

[2016-09-10 21:32] JfrankMainframere commented on #20
Or if you have any other suggestions for how to load a PDF edit it in with a custom GUI on the webpage and resave the html as pdf? I have both ends of this system in place but cant move much further without all of the form fields at least loading as visible characters to be replaced.

[2016-09-10 21:46] mgufrone commented on #20
That sounds promising. I think I need a pdf complete with form controls. Checkboxes, radio buttons, text inputs, and other form controls. So i can parse it to the correct form controls. Do you have that kind of pdf?

[2016-09-10 21:50] JfrankMainframere commented on #20
[demoform1.pdf](https://github.com/mgufrone/pdf-to-html/files/465657/demoform1.pdf)

[2016-09-10 22:22] mgufrone commented on #20
Okay, I will let you know regarding the update. 👍

[2016-09-15 00:56] JfrankMainframere commented on #20
If you could also point me in the direction of the parsing class or anything like that I would be more than happy to contribute to this library and figure out the form controls etc if I am able to.

[2016-09-15 08:38] mgufrone commented on #20
this code is responsible to handle the HTML thing. https://github.com/mgufrone/pdf-to-html/blob/master/src/Html.php

[2016-09-22 14:35] rhoyle commented on #20
First of all let me say thank you for the work you have done.  This is my problem I am trying to create a back end for a website that will allow the user to input their certificates for classes they have completed.  Most of the certificates are in pdf format and in less you use Adobe reader or some other pdf reader you can’t view the file and even if you use, let’s say adobe; the pdf pups up in a

[2016-09-26 21:49] JfrankMainframere commented on #20
@mgufrone Hey man! I figured out a completely different solution, so I went ahead and closed this issue for the sake of your wonder project's appearance.

If you were curious what I did, or anyone Googling here was my solution was using PDF.js and overlaying input elements implementing [this library](https://github.com/EvilTrev/pdf.js).

NOTE: (The base changes all occur in core\annotation.js and

[2016-09-26 21:49] #20 closed

[2016-09-27 15:50] garbus commented on #10
Hello!

I was fighting many hours with this library (was getting the same error).

After long time of debuging I noticed that $content in Pdf.php:22 is empty.

Finally added 2>&1 to the shell command, so I got:
$content = shell_exec($this->bin()." '".$this->file."' 2>&1");
Content then was able to get errors.

What finally turned out, the system could not see my pdf, even though the path was full

[2016-09-29 20:17] MattCowley opened #21 "How to Use on Windows without composer"
How on earth do I use this without composer?

I just want to do simple PDF to HTML, which file do I include?

[2016-09-30 06:49] MattCowley commented on #21
I tried doing include config.php but then the use on the next line becomes invalid syntax.

[2016-09-30 07:31] MattCowley commented on #21
`function __autoload($class_name) {
	$class_name = explode("\\", $class_name);
	$class_name = $class_name[count($class_name)-1];
    require_once('pdf-to-html/'.$class_name.'.php');
}

$config = new Gufy\PdfToHtml\Config();

// change pdftohtml bin location
$config->set('pdftohtml.bin', 'C:/poppler-0.47/bin/pdftohtml.exe');

// change pdfinfo bin location
$config->set('pdfinfo.bin', 'C:/poppler-0.

[2016-10-10 12:52] ravikarodiya opened #22 "How to use this on server"
Hello Friend ,
                         I have used your API on windows it works perfectly But i have to use Poppler-0.47.0 on my root folder of window.Now i want use this on hosted server how can use Poppler-0.47.0 or any other way on server.

[2016-10-10 12:54] ravikarodiya commented on #21
Check this May be it is useful for you
http://stackoverflow.com/questions/14782751/convert-pdf-to-html-in-php

[2016-10-11 12:30] ncjoes opened #23 "Windows NT require double-quotes instead of single-quotes"
Windows OS require double-quotes for paths when there are spaces or other non-alphanumeric characters in the path.

Line 26 of class `Gufy\PdfToHtml\Pdf` uses single quotes, which I guess is compatible with Linux, but not Windows.

[code]

[2016-10-29 09:24] #23 closed

[2016-11-21 11:55] hrnmodi opened #25 "error while trying to run"
Fatal error: Uncaught exception 'Exception' with message 'You're asking to go to page 1 but max page of this document is 0' in C:\xampp\htdocs\ph\src\Html.php:63 Stack trace: #0 C:\xampp\htdocs\ph\src\Html.php(57): Gufy\PdfToHtml\Html->goToPage(1) #1 C:\xampp\htdocs\ph\src\Html.php(16): Gufy\PdfToHtml\Html->getContents('test.pdf') #2 C:\xampp\htdocs\ph\src\Pdf.php(56): Gufy\PdfToHtml\Html->__const

[2016-11-21 12:01] mgufrone commented on #25
Have you installed poppler-utils on Windows?

[2016-12-27 17:39] pornoizle1 opened #26 "Only gets the first page"
Can be closed

[2016-12-28 06:06] #26 closed

[2017-01-06 11:26] lars2211 opened #27 "How do I use this PHP scripted on my shared hosting without composer?"
How can I use this PHP script, without composer (and without shell access) on my shared hosting server? Can I copy/paste the file in Filezilla (via FTP) to my shared hosting?
How can I fix this? Maybe make the autoload.php by myself?

Anyone who can help me! I'm really in need for this class, but my hosting doesn't support ssh / composer.

Thanks in advance!

[2017-01-09 03:18] mgufrone commented on #27
Unfortunately, this package can't do that. You need pdftohtml binary to do the process.

[2017-01-11 07:31] himanshutecstub opened #28 "Composer not installed"
You can't use this code without install composer and when you try to install it's display error.
"gufy/pdftohtml-php" not found.

[2017-01-26 16:26] jeroennoten commented on #28
What is your question?

[2017-03-22 06:47] khawarjatoi opened #30 "linking to html"
linking to html issue is not resolved yet.

frame name="links" src="output/file/file_ind.html"
frame name="contents" src="output/file/file-1.html"

Should be:

frame name="links" src="file_ind.html"
frame name="contents" src="file-1.html"

[2017-03-30 10:42] jimeshgajera commented on #10
@mgufrone

I have follow all step, but i get still error, which posted below

I am using window system and download poppler from http://blog.alivate.com.au/poppler-windows/

Directory structure as below

poppler
  /bin/
vendor
  /all required vendor

I am not getting about below step

$ which pdfinfo
/usr/local/bin/pdfinfo

$ which pdftohtml
/usr/local/bin/pdfinfo

Is it required to install? If ye

[2017-03-30 10:44] mgufrone commented on #10
@jimeshgajera Have you read this part? If so, have you change the binary location on the configuration?

[2017-03-30 10:47] jimeshgajera commented on #10
@mgufrone , From where to read this part?

`include 'vendor/autoload.php';
use Gufy\PdfToHtml\Config;
// change pdftohtml bin location
Config::set('pdftohtml.bin', 'D:/wamp/www/pdftohtml/poppler/poppler/bin/pdftohtml.exe');

// change pdfinfo bin location
Config::set('pdfinfo.bin', 'D:/wamp/www/pdftohtml/poppler/bin/pdfinfo.exe');
// initiate
$pdf = new Gufy\PdfToHtml\Pdf('file.pdf');

// convert

[2017-03-30 10:53] mgufrone commented on #10
Okay, I will take a look into it. I will inform you what I found

[2017-04-10 15:07] kieran82 opened #31 "get PDF from a file path in Directory"
I want to get a file from a directory and I don't know how to open a pdf file from directory on using composer with php

[2017-04-14 17:19] #21 closed

[2017-05-11 19:55] ghost opened #32 "Error: Document base stream is not seekable"
Good afternoon, lately have presented me the following error to the attempt to convert my pdf in html:
`Error: Document base stream is not seekable `

know why this happens?

[2017-05-12 00:44] leena123 opened #33 "Maximum execution time error"
Implementing this on windows , every dependencies installed now getting this issue
"Maximum execution time of 30 seconds exceeded in pdf-to-html\src\Base.php"  i got below file object  :
Gufy\PdfToHtml\Pdf Object ( [file:protected] => ./uploads/2/2.pdf [info:protected] => )
it is showing me protected,is that ok?
why this error , any clue?

[2017-05-12 01:41] leena123 commented on #33
I set maximum execution time to ini_set('max_execution_time', 14000);
But i doubt if it is the correct way of handling this issue.

[2017-05-17 16:09] ghost commented on #32
someone has happened this?

[2017-05-18 06:39] evalencia-lancera opened #34 "mkdir(): Permission denied"
Hi,

Is it possible to set different $outputDir?
http://take.ms/XrFm0

[2017-05-18 12:12] vikramsingh86 commented on #13
Hi,
I have used v2.0.7 on widnows and i am still getting below error:
Call to a member function goToPage() on string.

Please help me to sort it out.

Thanks

[2017-05-18 12:18] vikramsingh86 opened #35 "goToPage() throws error"
Hi,
I have used version 2.0.7 on widnows and i am still getting below error:
Call to a member function goToPage() on string.

Please help me to sort it out.

Thanks

[2017-05-21 08:06] cblanquera commented on #34
+1

[2017-06-02 02:52] leena123 commented on #5
@ThomasRalee can you please tell me all the configuration settings has been done for using it with laravel
Thanks in advance!!

[2017-06-11 23:59] leena123 opened #36 "taking extra spaces in html"
I converted file using this library but i am not getting the same data text as appearing in pdf
like
pdf -> html
xxx yyy -> xxxyyy
Experian -> Ex p e ri an

it is troubling to get an exact data , need help asap
Thanks in advance..!!

[2017-06-27 14:22] philrennie commented on #34
Looks like you can set this in config now
e.g.
`\Gufy\PdfToHtml\Config::set('pdftohtml.output', $someDirPath . '/output/');`

[2017-07-01 18:44] girishbagmor commented on #25
Notice: Undefined index: pages in C:\xampp\htdocs\pdf_to_html\vendor\gufy\pdftohtml-php\src\Pdf.php on line 70

Fatal error: Uncaught Exception: You're asking to go to page 1 but max page of this document is 0 in C:\xampp\htdocs\pdf_to_html\vendor\gufy\pdftohtml-php\src\Html.php:63 Stack trace: #0 C:\xampp\htdocs\pdf_to_html\vendor\gufy\pdftohtml-php\src\Html.php(57): Gufy\PdfToHtml\Html->goToPage

[2017-07-10 14:56] erdely opened #37 "How to handle special chars?"
My code to convert pdf into html file is:
[code]

Everything is working fine but now in the pdf document are some special chars and I'm getting following errors message:

```DOMDocument::loadHTML(): Invalid char in CDATA 0x1 in Entity, line: ...```

I tried with $pdf->html() and $pdf->getDom(), I get the same error.

With libxml_use_internal_errors(true) I get no errors but after conversion there

[2017-07-11 17:40] stephenahiggins opened #38 "Setting the generate image path"
Hi all,

I may have missed this in the documentation, but I can't seem to find it.
Is it possible to set the path of the generated HTML/images?

The script currently creates a folder in: vendor/gufy/pdftohtml-php/output/

I need to save/manipulate the images after they have been converted to HTML?

If there is no way to do this, can they be extracted as Bsse-64?

[2017-07-11 18:00] stephenahiggins commented on #38
Please delete the issue. I've figured it out.

[2017-07-11 18:00] #38 closed, assigned to nobody

[2017-08-15 05:05] jadesenberg opened #39 "How can i change image src path?"
Hi guys is there a way that i can change the image src path in config?

img src="change this"

Thanks in advance

[2017-08-21 16:34] bonanAngeLOL commented on #35
I had an error trying to use goToPage(). I used the same code on usage examples. Then I realize that the example uses this function on a string, and it must be used on dom object

[2017-08-31 07:52] vikastdev opened #40 "Notice: Undefined index: pages"
Some PDF getting Notice: Undefined index: pages error

[2017-09-02 12:42] chhaunkar96 opened #41 "Why is this issue?"
Warning: DOMDocument::loadHTML(): htmlParseEntityRef: expecting ';' in Entity, line: 27 in C:\xampp\htdocs\pdftohtml\vendor\gufy\pdftohtml-php\src\Html.php on line 45

[2017-09-07 18:24] nomadme commented on #40
You need `poppler-utils` need to be installed on your server.

If you are using Ubuntu Distro, just install it from apt `sudo apt-get install poppler-utils`

[2017-09-14 09:09] jlf2 opened #42 "Landscape document"
I have problem with landscape document. All text goes messy.

[2017-09-26 15:53] manuelos commented on #40
Hi there do you know how to install on windows? I found latest binaries but don't know how to install them.

[2017-10-10 20:39] junaidzubairshaikh opened #43 "Error exception when converting pdf to html file on window machine?"
I'm trying to convert pdf to html file on my window machine.
Following are the configuration lines.

        Config::set('pdftohtml.bin', 'D:\xampp\htdocs\poppler-0.51\bin\pdftohtml.exe');
        Config::set('pdfinfo.bin', 'D:\xampp\htdocs\poppler-0.51\bin\pdfinfo.exe');
I tried this with postman and attached image shows error. can you please help me to resolve this issue?

![image](https://user-

[2017-10-18 14:21] clown78 opened #44 "Treatment of HTML generated file"
Hi,

I need to output the result instead of HTML file, I want to fill it in an array based on line and column.

<!! p style="position:absolute;top:515px;left:73px;white-space:nowrap" class="ft01">Item No.<!!/p>
<!! p style="position:absolute;top:515px;left:217px;white-space:nowrap" class="ft01">Description of Goods<!!/p>
<!! p style="position:absolute;top:515px;left:481px;white-space:nowrap" class

[2017-10-31 21:47] tariqjamal opened #46 "Ubuntu pdftohtml and pdfinfo not present."
In Ubuntu pdftohtml and pdfinfo folders are not present in /usr/local/bin/ . How to create those, Please help me i am a windows user don't know Ubuntu much only doing interaction through PuTTY program. I am following the Ubuntu's given instruction on this page https://github.com/mgufrone/pdf-to-html

[2017-11-28 07:11] arif-pixako commented on #42
Same problem here

[2017-11-29 12:20] sandeep0075 commented on #5
finally thanks @mgufrone this is the working code i have

Config::set('/usr/bin/pdftohtml.bin', '/var/www/html/poppler-0.51/bin/pdftohtml.exe');

// change pdfinfo bin location
Config::set('/usr/bin/pdfinfo.bin', '/var/www/html/poppler-0.51/bin/pdfinfo.exe');

thanks a lot

[2017-11-30 07:34] joydipnath opened #47 "pdftohtml conversion only converting the 1st page or even less than that."
`\Gufy\PdfToHtml\Config::set('pdftohtml.bin', '/usr/bin/pdftohtml');
      \Gufy\PdfToHtml\Config::set('pdfinfo.bin', '/usr/bin/pdfinfo');
      $pdf = new \Gufy\PdfToHtml\Pdf('/var/www/html/test_big/test.pdf');
      $html = $pdf->html();`
Thats my code. Its converting but only the 1st page for some cases and even less than that .

[2018-01-17 17:36] cirovargas commented on #38
@stephenahiggins what you do for get the images?

[2018-02-26 21:57] webfaqtory opened #50 "vendor/gufy/pdftohtml-php must have write access"
pdftohtml-php creates a folder under vendor/gufy/pdftohtml-php/output. If it doesn't have write access then loads of errors starting with mkdir() permission denied

Maybe add this to the readme

Or better still, have a config setting for setting the output folder eg. /tmp

[2018-03-06 06:13] hussain-t commented on #47
I also have the same issue.

When I debug the code, sometimes the $id argument in the following function is null hence it throws the error "Child '$id' not found in this node." in a recursive loop.

public function getChild($id)
    {
        if ( ! isset($this->children[$id])) {
            throw new ChildNotFoundException("Child '$id' not found in this node.");
        }
        return $this->ch

[2018-03-27 22:08] Dave-Morton commented on #39
@jadesenberg I ran up against this as well, and found (part of ) a solution for this. I added the following PHP code to my script:

[code]
but that only solved half of the problem. The HTML and image output of the chosen PDF file now goes to the correct place, and would likely work if I were to `header({location})` to the HTML page, but I'm using a viewer within an `<iframe>` element, so wish to `

[2018-04-07 23:43] mohamedzhran commented on #25
is there a solution to this problem

[2018-04-23 15:41] drewgash commented on #25
There must be a problem with the file path of the pdf file you want to convert.

[2018-04-23 15:59] drewgash commented on #10
@mgufrone

I'm really struggling with the error @garbus points out:

My error.log:

`[23-Apr-2018 15:58:19 UTC] PHP Warning:  file_get_contents(/home/researy8/public_html/output/test(2)-1.html): failed to open stream: No such file or directory in /home/researy8/public_html/vendor/gufy/pdftohtml-php/src/Html.php on line 41
[23-Apr-2018 15:58:19 UTC] PHP Warning:  DOMDocument::loadHTML(): Empty stri

[2018-04-25 09:22] drewgash commented on #10
I found the issue.

`sudo yum install poppler-utils`

That installs an old version (0.12.4) which does not have pdftohtml command options like "-s" and "-fmt".

Go to this page https://medium.com/@jakebathman/building-poppler-utils-for-centos-6-5-really-e52eccffc6ae to guide you on how to get a later version of poppler-utils. I installed https://poppler.freedesktop.org/poppler-0.22.5.tar.gz instea

[2018-05-07 13:17] saleemkhan25 opened #51 "It extension is work on the dedicated linux server?"
I am little confuse how to pass the pdf file path. Because i added the path but not running any function on the server.
   $html = $pdf->getInfo();
All of the function showing empty data.

But when i hit the "$page = $pdf->html();" function then facing following issue:
"Exception
You're asking to go to page 1 but max page of this document is 0",

If anyone let me know how to fix the following issu

[2018-06-12 19:33] amanjain9509 commented on #25
Notice: Undefined index: pages in C:\xampp\htdocs\pdf_to_html\vendor\gufy\pdftohtml-php\src\Pdf.php on line 70

Fatal error: Uncaught Exception: You're asking to go to page 1 but max page of this document is 0

[2018-06-12 19:34] amanjain9509 commented on #25
please help me..

[2018-06-12 19:40] amanjain9509 commented on #25
hii mgufrone please help me. for pdf to html parsing.

You're asking to go to page 1 but max page of this document is 0

[2018-06-30 14:25] kollyjr opened #52 "mb_eregi_replace() Error"
Any idea why i'm getting this error?

Fatal error: Uncaught Error: Call to undefined function PHPHtmlParser\mb_eregi_replace() in /var/www/html/superboringproject/vendor/paquettg/php-html-parser/src/PHPHtmlParser/Dom.php:362 Stack trace: #0 /var/www/html/superboringproject/vendor/paquettg/php-html-parser/src/PHPHtmlParser/Dom.php(184): PHPHtmlParser\Dom->clean('<body bgcolor="...') #1 /var/www/htm

[2018-08-24 08:10] ketanharsodaibl commented on #40
but i have same issue in windows even i installed poppler-units.
Please help me.

[2018-10-26 11:52] Axel-KIRK opened #53 "HTML Output Class meaning"
Hi,
First of all, many thanks for this code, it works very well  !

I have my html from a pdf parsing, and there is many class like ft03 ft04 ft02 ft01 (which seem to be the content) and ft08 ft09 ... (which seems to be other thing).
But as I read the full HTML code, there is no real logic:
For example: from a page to another, a simple text content without style would be ft03 and next page ft04 et

[2018-11-19 11:28] jineshsubedi commented on #5
`<!DOCTYPE html>`
`<html>`
`<head>`
	`<title></title>`
`</head>`
`<body>`

`<?php`
`use \Gufy\PdfToHtml\Pdf;`
`use \Gufy\PdfToHtml\Html;`

`$viewPdf= storage_path('app/public/sample2.pdf');`
`$pdf = new \Gufy\PdfToHtml\Pdf($viewPdf);`

`\Gufy\PdfToHtml\Config::set('pdftohtml.bin',storage_path('/app/public/poppler/bin/pdftohtml.exe'));`
`\Gufy\PdfToHtml\Config::set('pdfinfo.bin',storage_path('/app/

[2019-01-08 17:23] garrensweet opened #54 "PHP 7.1 + Compatibility"
Seeing as this package is basically abandoned, I've decided to fork it. I will maintain it as well.

This library makes use of another (ironically) abandoned package for DOM Parsing. That package incorrectly implements the `count()` function on non-iterable instances, therein making it incompatible with PHP 7.1.

I've upgraded the underlying DOM Parsing engine and made cross-platform compatibility

[2019-02-07 09:04] Hadyark commented on #54
Great but i can't add your library with this command line "composer require garrensweet/pdftohtml-php"

[2019-02-11 05:21] anonymouse703 opened #55 "Class 'Gufy\PdfToHtml\Config' not found"
How to solve this?

I followed the docs..

 I put `use Gufy\PdfToHtml\Config;` at the top and this is my controller

[code]

[2019-02-12 11:09] mahmoudN commented on #25
while trying to convert  my pdf file i have go this following error :

2019-02-12 11:04:51 Notice: Notice (8): Undefined index: pages in [C:\xampp\htdocs\optimus-invoices - Mahmoud Modiifcation\vendor\tonchik-tm\pdf-to-html\src\Pdf.php, line 82]
Request URL: /files/secure/146
Referer URL: http://localhost:8765/documents/index
Trace:

i dont't know what to do ... can someone help me please ??

[2019-03-07 09:30] sunsoftwares commented on #40
How installe poppler-units for linex server.

[2019-03-07 09:33] sunsoftwares commented on #40
Undefined index: pages in linex server(fedora)

[2019-07-24 14:43] sun123 opened #56 "The text of PDF is being rendered as image"
Hi,
Let me begin by saying that some PDF's are working perfectly fine BUT there are some PDF's which when being converted into html does not extract text from the PDF rather then it converts that text into image.
Please check the links of some pdf's  below:-

http://geetsoft.com/custom/massageandwellbeing/FN_8th_Edition_reduced.pdf
http://geetsoft.com/custom/massageandwellbeing/BlankPrintDocument.

[2019-07-25 08:49] sun123 commented on #56
Hi,
Please help me out.
Why the pdf to html library is not able to convert above PDF's into HTML.

It converts text into images.

Waiting for your reply !!

[2019-08-12 11:37] sun123 commented on #56
hey !!
i am waiting for your answer....

[2019-10-02 18:07] Hilha commented on #50
I solved with the command line **chown -R www-data:www-data vendor/***  inside my docker.

[2019-10-25 10:52] BayardLifer opened #57 "Сount(): Parameter must be an array or an object that implements Countable"
I'm trying to get html from a pdf document, the output folder is created and html files are created and so on. But in the process of creating an error occurs.
![Снимок экрана в 2019-10-25 13-49-59](https://user-images.githubusercontent.com/47244715/67565607-7a10fa00-f72e-11e9-85d1-74b5000f7990.png)
![Снимок экрана в 2019-10-25 13-51-57](https://user-images.githubusercontent.com/47244715/67565658-a

[2019-10-25 11:00] BayardLifer commented on #57
![image](https://user-images.githubusercontent.com/47244715/67566143-babd4300-f72f-11e9-9213-52e9e8ed5553.png)

[2019-10-29 13:54] KMV1 opened #58 "No styles for classes like ft00, ft01 etc."
Hi!

My output html file has classes like ft00 etc:
`<p style="position:absolute;top:1218px;left:638px;white-space:nowrap" class="ft00">Some text</p>`

but it has not styles for this class. So font-size is incorrect in the result. And html page looks not like an input pdf.

Screenshots: https://drive.google.com/open?id=18qgcG72pKlWRcErFqEHZlNUYLpCMMeYO

While running a script there are some errors

[2019-10-29 13:57] KMV1 commented on #57
Got the same errors: https://github.com/mgufrone/pdf-to-html/issues/58
Have you fixed it?

And are your styles of output html correct?

[2019-10-29 14:06] BayardLifer commented on #57
I just deleted the functionality that is called and leads to an error (this is a radical measure * _ *). But the styles are lost, this is what I get:
![image](https://user-images.githubusercontent.com/47244715/67774445-0e000000-fa66-11e9-8022-b291b60fc12f.png)

Unfortunately, if you use some online services with a similar conversion, you will get the same thing.
I did not find a solution how to ge

[2019-12-03 10:39] sitefaitbienfait commented on #57
Hi,
I had the same issue with php-html-parser v1.7.0.
This is fixed in php-html-parser 2.0.0

I think this is related to this issue :
https://github.com/paquettg/php-html-parser/issues/153

Regards

[2020-01-02 09:48] alalfakawma commented on #54
Any news on this?

[2020-01-02 13:31] Hadyark commented on #54
I think that I still had not managed to install it and that consequently I had changed library

[2020-01-06 14:20] alalfakawma commented on #54
I think Garren would have to put it up on packagist in order to compser require his forked package with the model events. Wonder if he is still active here or not?

[2020-02-22 18:40] tusharsawant2427 commented on #57
change line **vendor\paquettg\php-html-parser\src\PHPHtmlParser\Selector.php**
At line 171 to 172 change code to
if (!empty($rule['tag'])  &&
            !empty($rule['key']) &&
            is_numeric($rule['key'])
        )

[2020-02-25 04:17] jpruiz114 commented on #52
Hello. Any updates on this issue? I'm experiencing the same error. It seems to be related to the extension mb_eregi_replace not being enabled. Any workaround? Thanks.

[2020-05-07 21:59] mlccapulong commented on #57
@sitefaitbienfait How can I update the php-html-parser? I'm using composer and it's a sub-dependency of pdftohtml-php and there's a fixed version for the php-html-parser on it's **required** section.

[2020-06-01 09:12] apksundar1980 commented on #40
sudo apt-get install poppler-utils
After done this command. it is working fine perfectly!!!!.

[2020-06-05 21:24] jonathanpmartins commented on #54
This repo should be marked as Archived. There is no more active development since 2017 @mgufrone